@import "../../../../ModuleConfig/Bootstrap/Bootstrap";
@import "../../../../Style/Constants";

.AdvertisementListCard {
    .advertisementListWrapper {

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .advertisementWrapper {
            padding: 1rem 0;
            border-radius: 0.25rem;
            transition: 0.25s background-color;
            cursor: pointer;

            &:hover {
                background-color: #DDD;
            }

            &.empty {
                padding: 0;
                cursor: auto;
                background-color: transparent;
                width: calc(12rem + 2px); // 广告的宽度
                box-sizing: content-box;
            }
        }
    }
}
