@import "../../Static/AccountShare/AccountShare.module";

.Login {
    @extend .AccountShare;

    .forgetPassword {
        display: inline-block;
        float: right;
        font-size: 0.8rem;
    }
}
