.TagList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tagWrapper {
        padding: 0.5rem;
        cursor: pointer;

        &.empty {
            padding: 0 0.5rem;
            cursor: auto;
            width: 7rem; //Tag 的宽度
            box-sizing: content-box;
        }
    }
}