@import "../../../../../../ModuleConfig/Bootstrap/Bootstrap";

.TagInfoModal {
    .modalContent {

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            &:first-child {
                margin-top: 0;
            }

            .label {
                display: inline-block;
                width: 6rem;
            }

            .tagNameInput {
                @extend .form-control;
                display: inline-block;
                width: 20rem;
            }

            .itemInfoContent {
                width: 20rem;
                display: inline-block;
            }
        }

        .bindingResourcePackListWrapper {
            @extend .item;
            display: flex;
            align-content: flex-start;

            .bindingResourcePackListTitle {
                @extend .label;
            }

            .bindingResourcePackList {
                @extend .itemInfoContent;
                height: 16.5rem;
                overflow: auto;
                border: 1px solid #DDD;
                border-radius: 0.25rem;
                @extend .list-group-flush;
                padding-left: 0;

                .resourcePackName {
                    @extend .list-group-item;
                }
            }
        }

        .deleteTagButtonWrapper {
            width: 26rem;
            margin: 1rem auto 0;
            display: flex;
            justify-content: flex-end;

            .deleteTagButton {
                @extend .btn, .btn-danger;
            }
        }
    }

}