@import "../../Static/InnerWrapper.module";

.Overview {
    .cardWrapper {
        @extend .InnerWrapper;
        min-height: 40rem;
        padding: 0 12.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;

        .card {
            width: 30rem;

            .data {
                margin: 0 0.25rem;
            }
        }
    }
}
