.Item {
    width: 100%;
    text-align: center;
    padding: 1rem 0;

    a {
        color: #666;
        transition: 0.25s color;
    }

    &.active, &:hover {
        a {
            color: #DDD;
        }
    }

    .icon {
        font-size: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .text {
        line-height: 2rem;
    }
}