@import "~bootstrap/scss/bootstrap";

.ImageUploader {
    .imagePreviewerWrapper {
        display: flex;
        justify-content: center;

        .imagePreviewer {
            width: 16*1.25rem;
            height: 9*1.25rem;
            border-radius: 0.25rem;
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: #666;
            user-select: none;
        }
    }


    .fileInputWrapper {
        margin-top: 1rem;
    }

    .progressBarWrapper {
        margin-top: 1rem;
    }

    .buttonWrapper {
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;

        .uploadButton {
            @extend .btn, .btn-primary;
        }
    }

    .inputWrapper {

        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        .label {
            display: inline-flex;
            align-items: center;
            width: 6rem;
        }

        input {
            @extend .form-control;
        }

        input, select {
            display: inline-block;
            width: 20rem;
        }
    }

    .imageNameInput, .fileInput, .QRCodeUrlInput, .QRCodePositionSelect {
        /*empty here*/
    }
}