@import "../../../../../../Static/Constants.module";
@import "../Screen/Screen.module";

.Header {
    $fontSize: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding;
    font-size: $fontSize;
    line-height: $fontSize;
    font-weight: bold;
    font-family: $serif;
    border-bottom: 1px solid #DDD;
    user-select: none;

    .name {
        width: $nameWrapperWidth;
    }

    .runningInfo {
        width: $runningInfoWidth;
    }

    .resourcePackName {
        width: $resourcePackNameWidth;
        text-align: center;
    }

    .button {
        width: $buttonWidth;
    }
}