@import "../../Static/Constants.module";

.Root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: #EEE;

    .titleWrapper {
        position: fixed;
        width: 100%;
        z-index: 1;
        box-shadow: 0 0 5px #333;
    }

    .sidebar {
        overflow: auto;
        display: inline-block;
        width: $SIDEBAR_WIDTH;
        height: 100%;
        background-color: $SIDEBAR_BACKGROUND_COLOR;
        color: $SIDEBAR_COLOR;
        position: fixed;
        z-index: 1;
        box-shadow: 0 0 5px #333;

        .iconWrapper {
            width: 100%;
            text-align: center;
            margin-top: 2rem;

            .icon {
                color: $SIDEBAR_COLOR;
                font-size: 4rem;
                transition: 0.5s color;

                &:hover {
                    color: #FFF;
                }
            }
        }

        .menuWrapper {
            margin-top: 3rem;
        }
    }

    .pageWrapper {
        position: absolute;
        top: $TITLE_HEIGHT;
        left: $SIDEBAR_WIDTH;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding: 2rem 6rem;
    }
}
