@import "~bootstrap/scss/bootstrap";
@import "../../Style.module";

.ScreenListCard {

    .headerWrapper {
        width: 100%;
    }

    .screenListWrapper {
        overflow: auto;
        height: $CONTENT_CONTAINER_HEIGHT - 11rem;
        box-sizing: border-box;
        overflow-x: hidden;
        border-bottom: 1px solid #DDD;
    }

    .buttonWrapper {
        display: flex;
        justify-content: space-between;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;

        button {
            @extend .btn;
        }

        .addScreenButton {
            @extend .btn-primary;
        }

        .deleteScreenButton {
            @extend .btn-danger;
        }

        .startRunningButton {
            @extend .btn-primary;
        }

        .stopRunningButton {
            @extend .btn-danger;
        }

        .batchBindResourcePackButton {
            @extend .btn-primary;
        }

        .batchUnbindResourcePackButton {
            @extend .btn-danger;
        }
    }
}

.addScreenModalContent {
    text-align: center;

    .uuidInput {
        @extend .form-control;
        text-align: center;
        font-size: 1.25rem;
    }
}