@import "../../../../Static/Button.module";
@import "../../../../Static/Input.module";

.ScreenListCard {

    .headerWrapper {
        width: 100%;
    }

    .screenListWrapper {
        overflow: auto;
        height: 37rem;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .buttonWrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid #DDD;
        padding-top: 1rem;

        button {
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .addScreenButton {
            @extend .btn-primary;
        }

        .deleteScreenButton {
            @extend .btn-danger;
        }

        .startRunningButton {
            @extend .btn-primary;
        }

        .stopRunningButton {
            @extend .btn-danger;
        }

        .bindResourcePackButton {
            @extend .btn-primary;
        }

        .unbindResourcePackButton {
            @extend .btn-danger;
        }
    }
}

.addScreenModalContent {
    text-align: center;

    .uuidInput {
        @extend .Input;
        text-align: center;
        font-size: 1.25rem;
    }
}