@import "../../Static/Constants.module";

.Title {
    color: $rootSideBarColor;
    font-size: $titleFontSize;
    line-height: $titleFontSize;
    padding: $titleTopAndBottomPadding 3rem;
    background-color: $rootSideBarBackgroundColor;
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 1;

    .icon {
        margin-right: 1rem;
    }

    .content {
        font-family: $serif;
        font-weight: bolder;
    }
}
