@import "../../Static/InnerWrapper.module";

$PAGE_HEIGHT: 40rem;

.ScreenManagement {
    .cardWrapper {
        @extend .InnerWrapper;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 2rem 6rem;
        box-sizing: border-box;


        .leftWrapper, .rightWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: $PAGE_HEIGHT;
        }

        .leftWrapper {
            width: 30rem;
        }

        .rightWrapper {
            width: 45rem;
        }

        @media (max-width: 1400px) {
            .leftWrapper {
                width: 100%;
            }

            .rightWrapper {
                margin-top: 2rem;
                width: 100%;
            }
        }

        .infoCardWrapper {

        }

        .logCardWrapper {

        }
    }
}
