@import "../../Static/InnerWrapper.module";

.ScreenManagement {
    .cardWrapper {
        @extend .InnerWrapper;
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;

        .leftWrapper {
            padding: 2rem 0;
            width: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .rightWrapper {
            padding: 2rem 0;
            width: 50rem;
        }

        .infoCardWrapper {

        }

        .logCardWrapper {
            overflow: auto;
        }
    }
}