@import "../../Static/Constants.module";

.AdvertiseManagement {
    .cardWrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;


        .leftWrapper, .rightWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: $CONTENT_CONTAINER_HEIGHT;
        }

        .leftWrapper {
            width: 30rem;
        }

        .rightWrapper {
            width: 45rem;
        }

        @media (max-width: 1400px) {
            .leftWrapper {
                width: 100%;
            }

            .rightWrapper {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}