@import "../../../../Static/Bootstrap/Bootstrap";
@import "../../../../Static/Constants.module";

.TagListCard {

    .tagListWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        .tagWrapper {
            margin: 0.5rem;
            cursor: pointer;
        }
    }
}

.modalContent {

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;

        &:first-child {
            margin-top: 0;
        }

        .label {
            display: inline-block;
            width: 6rem;
        }

        .tagNameInput {
            @extend .form-control;
            display: inline-block;
            width: 20rem;
        }

        .itemInfoContent {
            width: 20rem;
            display: inline-block;
        }
    }

    .bindingResourcePackListWrapper {
        @extend .item;
        display: flex;
        align-content: flex-start;

        .bindingResourcePackListTitle {
            @extend .label;
        }

        .bindingResourcePackList {
            @extend .itemInfoContent;
            height: 20rem;
            overflow: auto;
            border: 1px solid #DDD;
            border-radius: 0.25rem;
            @extend .list-group-flush;
            padding-left: 0;

            .resourcePackName {
                @extend .list-group-item;
            }
        }
    }
}

