@import "../../../../../../ModuleConfig/Bootstrap/Bootstrap";
@import "../../Style.module";

.ResourcePack {
    .resourcePackName {
        @extend .resourcePackNameHeader;
    }

    .tagName, .advertisementAmount, .screenAmount {
        cursor: pointer;
        text-decoration: underline dotted #333;
    }

    .tagName {
        @extend .tagNameHeader;
    }

    .advertisementAmount {
        @extend .advertisementAmountHeader;
    }

    .screenAmount {
        @extend .screenAmountHeader;
    }

    .description {
        @extend .descriptionHeader;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .button {
        @extend .buttonHeader;
    }

    .changeResourcePackButton {
        @extend .btn, .btn-primary;
    }
}