@import "../../Static/Button.module";

@keyframes ModalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.Modal {
    animation: ModalFadeIn 0.5s;
    background-color: #FFF;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    user-select: none;
    min-width: 20rem;
    box-shadow: 1px 1px 10px #666;

    .title {
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid #333;
        padding: 1rem 0;
    }

    .childrenWrapper {
        padding: 1rem 0;
        border-bottom: 1px solid #333;
    }

    .buttonArea {
        float: right;
        margin-top: 1rem;

        button {
            margin-left: 1rem;
        }
    }

    .confirmButton {
        @extend .btn-primary
    }

    .cancelButton {
        @extend .btn-danger
    }
}

@keyframes ModalWrapperFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modalWrapper {
    animation: ModalWrapperFadeIn 0.5s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
