.AdvertisementList {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 30rem;
    overflow: auto;

    .advertisementWrapper {
        padding: 1rem 0;
        border-radius: 0.25rem;
    }
}