.Log {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-items: stretch;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    .time {
        min-width: 6rem;
        width: auto;
        font-weight: bold;
        margin-right: 0.5rem;
    }

    .content {
        width: auto;
        min-width: 0;
        text-align: left;
        word-wrap: break-word;
    }
}
