.Log {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    .time {
        min-width: 6rem;
        font-weight: bold;
        margin-right: 0.5rem;
    }

    .text {
        min-width: 0;
        text-align: left;
        word-wrap: break-word;
    }
}