.ResourcePackTagListModal {
    .tagList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;

        .tagWrapper {
            margin: 0.5rem;

            &.empty {
                margin: 0 0.5rem;
                padding: 0 0.5rem;
                width: 4.5rem;
                box-sizing: content-box;
            }
        }
    }
}