@import "Constants";
@import "../ModuleConfig/Bootstrap/Bootstrap";

.AccountShare {
    $formPadding: 1.25rem;
    width: 17 + 2*$formPadding;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;

    .titleWrapper {
        text-align: center;

        .icon {
            font-size: 3rem;
        }

        .title {
            font-size: 1.5rem;
            font-family: $serif;
            font-weight: bolder;
            margin-top: 2rem;
        }
    }

    .formWrapper {
        margin-top: 1.5rem;

        .inputWrapper {
            margin-top: 0.5rem;

            &:first-child {
                margin-top: 0;
            }

            .label {
                display: block;
                margin-bottom: 0.5rem;
            }

            .input {
                @extend .form-control;
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
        }

        .submitButton {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-lg;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            margin-top: 2rem;
        }
    }

    .hint {
        margin-top: 1.5rem;
    }

    .codeInput {
        @extend .form-control;
        width: 55%;
        box-sizing: border-box;
        display: inline-block;
    }

    .getCodeButton {
        @extend .btn;
        @extend .btn-primary;
        width: 40%;
        box-sizing: border-box;
        float: right;
    }
}
