@import "../../../../../../ModuleConfig/Bootstrap/Bootstrap";

.AddScreenModal {
    .addScreenModalContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6rem;

        .inputWrapper {
            display: block;

            .uuidInput, .screenNameInput {
                @extend .form-control;
                text-align: center;
            }
        }
    }
}