@import "~bootstrap/scss/bootstrap";

.ResourcePackListCard {
    table {
        text-align: center;

        thead {
            position: absolute;
            z-index: 1;
        }

        tbody {
            transform: translateY(3.125rem);
        }

        th, td {
            box-sizing: content-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}

.resourcePackNameHeader {
    width: 10rem;
}

.tagNameHeader {
    width: 6rem;
}

.advertisementAmountHeader, .screenAmountHeader {
    width: 3rem;
}

.descriptionHeader {
    width: 6rem;
}

.buttonHeader {
    width: 5.255rem;
}

.resourcePackTagListModal {
    .tagList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;

        .tagWrapper {
            margin: 0.5rem;
        }
    }
}

.resourcePackAdvertisementListModal {
    .advertisementList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 2rem;

        .advertisementWrapper {
            margin: 0.5rem;
        }
    }
}

.resourcePackScreenList {
    .screenList {

    }
}

.resourcePackChangeModal {

    .resourcePackChangeModalContentWrapper {
        .label {
            display: block;
            line-height: 1rem;
            margin-bottom: 0.5rem;

            .subLabel {
                margin-left: 0.25rem;
                font-size: 0.75rem;
                color: #666;
            }
        }

        .topWrapper {
            height: 20rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;

            .leftPart, .rightPart {
                width: 48%;
                height: 100%;
            }

            .leftPart {
                .tagListWrapper {
                    padding: 0.5rem;
                    box-sizing: border-box;
                    border: 1px solid #DDD;
                    border-radius: 0.25rem;
                    width: 100%;
                    height: calc(100% - 1.5rem);
                    overflow: auto;
                }
            }

            .rightPart {
                .advertisementListWrapper {
                    border: 1px solid #DDD;
                    border-radius: 0.25rem;
                    width: 100%;
                    height: calc(100% - 1.5rem);
                    overflow: auto;
                }
            }
        }

        .bottomWrapper {
            margin: 1rem 0;
            height: 5rem;
            display: flex;
            justify-content: space-around;

            .inputWrapper {
                width: 48%;
                height: 100%;


                input, textarea {
                    @extend .form-control;
                    resize: none;
                }
            }
        }
    }


}