@import "../../ModuleConfig/Bootstrap/Bootstrap";

.Advertisement {
    .advertisementContentWrapper {

        .previewWrapper {
            border: 1px dashed #DDD;
            border-radius: 0.25rem;
            line-height: 1em;

            .preview {
                width: 16*0.75rem;
                height: 9*0.75rem;
                background-position: center !important;
                background-size: contain !important;
                background-repeat: no-repeat !important;
            }
        }

        .advertisementInfoWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            height: 2rem;

            .typeIconWrapper {
                height: inherit;
                display: inline-flex;
                align-items: center;

                .typeIcon {
                    font-size: 1.5rem;
                    line-height: 1em;
                }
            }

            .advertisementName {
                text-align: center;
                white-space: nowrap;
                width: 10rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .advertisementAmount {
                width: 6rem;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                height: inherit;
                line-height: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}