@import "../../../../../../ModuleConfig/Bootstrap/Bootstrap";

.ResourcePackChangeModal {

    .resourcePackChangeModalContentWrapper {
        .label {
            display: block;
            line-height: 1rem;
            margin-bottom: 0.5rem;

            .subLabel {
                margin-left: 0.25rem;
                font-size: 0.75rem;
                color: #666;
            }
        }

        .topWrapper {
            height: 20rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;

            .leftPart, .rightPart {
                width: 48%;
                height: 100%;
            }

            .leftPart {
                .tagListWrapper {
                    padding: 0.5rem;
                    box-sizing: border-box;
                    border: 1px solid #DDD;
                    border-radius: 0.25rem;
                    width: 100%;
                    height: calc(100% - 1.5rem);
                    overflow: auto;
                }
            }

            .rightPart {
                .advertisementListWrapper {
                    border: 1px solid #DDD;
                    border-radius: 0.25rem;
                    width: 100%;
                    height: calc(100% - 1.5rem);
                    overflow: auto;
                }
            }
        }

        .bottomWrapper {
            margin: 1rem 0;
            height: 5rem;
            display: flex;
            justify-content: space-around;

            .inputWrapper {
                width: 48%;
                height: 100%;


                input, textarea {
                    @extend .form-control;
                    resize: none;
                }
            }
        }
    }
}