@import "./Constants.module";

.AdminShare {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    .leftWrapper, .rightWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: $CONTENT_CONTAINER_HEIGHT;
    }

    .leftWrapper {
        width: 30rem;
        margin-right: 0.5rem;
    }

    .rightWrapper {
        width: 45rem;
    }

    @media (max-width: 1400px) {
        .leftWrapper {
            width: 100%;
        }

        .rightWrapper {
            margin-top: 2rem;
            width: 100%;
        }
    }
}