$monospace: "Source Code Pro", "Noto Sans Mono", monospace;
$serif: "Noto Serif CJK SC", "Source Han Serif", "思源宋体", "serif";
$sans-serif: "Noto Sans CJK SC", "Source Han Sans", "思源黑体", "sans-serif";

$rootSideBarBackgroundColor: #333;
$rootSideBarColor: #DDD;

$titleFontSize: 1.5rem;
$titleTopAndBottomPadding: 1rem;
$titleHeight: $titleFontSize + $titleTopAndBottomPadding*2;

$sidebarWidth: 7.5rem;
