.AdvertisementList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    .advertisementWrapper {
        margin: 0.5rem;
        transition: 0.25s;
        border-radius: 0.25rem;
        cursor: pointer;

        &.selected {
            background-color: #666;
            color: #FFF;
        }

        &.empty {
            margin: 0 0.5rem;
            padding: 0;
            cursor: auto;
            background-color: transparent;
            width: calc(12rem + 2px); // 广告的宽度
            box-sizing: content-box;
        }
    }
}